<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <title>Eu sou Ficha.HTML</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Ficha de cadastro</h1>
        <form method="post">
            ID:<input type="text" value="" name="id"/>
            Nome:<input type="text" value="" name="nome"/>
            Endereco:<input type="text" value="" name="ender"/>
            Telefone:<input type="text" value="" name="fone"/>
            Email:<input type="email" value="" name="email"/>
            data:<input type="date" value="" name="data"/>
            Horario:<input type="text" value="" name="horario"/>

            <button type="submit">Salvar</button>
        </form>
    </body>
</html>
